Берем датасет который находится тут:
https://www.kaggle.com/shivamp629/traincsv

Columns:

PassengerId

Survived

Pclass

Name

Sex

Age

SibSp

Parch

Ticket

Fare

Cabin

Embarked

#### Импорт библиотек

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.impute import SimpleImputer

#### Загрузка данных и первичный анализ данных

In [8]:
data = pd.read_csv('train.csv', sep=',')

In [7]:
data.shape

(891, 12)

In [9]:
data.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [10]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
total_count = data.shape[0]
print('Всего строк: {}'.format(total_count))

Всего строк: 891

## Обработка пропусков

In [13]:
# Удаляем столбцы с ненужной информацией
data.drop(['Cabin','Name','Ticket'], axis = 1, inplace = True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

#### Внедряем значения

In [15]:
data['Age'] = data['Age'].replace(0,np.nan)
data['Age'] = data['Age'].fillna(data['Age'].mean())

In [14]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       2
dtype: int64

## Преобразование категориальных признаков в числовые

In [16]:
data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [17]:
# Кодируем признаки Pclass и Embarked в отдельные столбцы
data = pd.get_dummies(data, columns=['Pclass','Embarked'])

In [18]:
# Пол кодируем в 1/0
data['IsMale']=data.Sex.replace({'female':0,'male':1})
data.drop('Sex', axis = 1, inplace = True)

In [19]:
data.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,IsMale
0,1,0,22.0,1,0,7.2500,0,0,1,0,0,1,1
1,2,1,38.0,1,0,71.2833,1,0,0,1,0,0,0
2,3,1,26.0,0,0,7.9250,0,0,1,0,0,1,0
3,4,1,35.0,1,0,53.1000,1,0,0,0,0,1,0
4,5,0,35.0,0,0,8.0500,0,0,1,0,0,1,1

## Масштабирование значений

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
sc2 = StandardScaler()
sc2.fit(data)
sc2_data = sc2.transform(data)

In [22]:
data = pd.DataFrame(sc2_data, columns = data.columns)

In [23]:
data.head()

,PassengerId,Survived,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,IsMale
0,-1.730108,-0.789272,-0.592481,0.432793,-0.473674,-0.502445,-0.565685,-0.510152,0.902587,-0.482043,-0.307562,0.619306,0.737695
1,-1.726220,1.266990,0.638789,0.432793,-0.473674,0.786845,1.767767,-0.510152,-1.107926,2.074505,-0.307562,-1.614710,-1.355574
2,-1.722332,1.266990,-0.284663,-0.474545,-0.473674,-0.488854,-0.565685,-0.510152,0.902587,-0.482043,-0.307562,0.619306,-1.355574
3,-1.718444,1.266990,0.407926,0.432793,-0.473674,0.420730,1.767767,-0.510152,-1.107926,-0.482043,-0.307562,0.619306,-1.355574
4,-1.714556,-0.789272,0.407926,-0.474545,-0.473674,-0.486337,-0.565685,-0.510152,0.902587,-0.482043,-0.307562,0.619306,0.737695